# PELIC spelling

This notebook adds further processing to `PELIC_compiled.csv`  in the [`PELIC-dataset`](https://github.com/ELI-Data-Mining-Group/PELIC-dataset) repo by creating a column of tok_POS whose spelling has been automatically corrected.

**Notebook contents:**
- [Building `non_words_df`](#Building-non_words_df)
- [Building `misspell_df`](#Building-misspell_df)
- [Possible segmentation](#Applying-segmentation)
- [Applying spelling correction](#Applying-spelling-correction)
- [Incorporating corrections into `pelic_df`](#Incorporating-corrections-into-pelic_df)

## Building non_words_df
In this section, we build a dataframe, `non_words_df`, which collects all of the non-words from the PELIC dataset (in `PELIC_compiled.csv`). The final dataframe has the following columns:
- `non_word`: tuples with the non-words and their parts of speech
- `sentence`: the complete sentence containing the non-word to provide context
- `answer_id`: the id of the text they come from

In [1]:
# Import necessary modules

import pandas as pd
import pprint
import numpy as np
from ast import literal_eval
import nltk
import random
from pelitk import lex
import string
import re

In [2]:
# Read in PELIC_compiled.csv

pelic_df = pd.read_csv("../PELIC-dataset/PELIC_compiled.csv", index_col = 'answer_id', # answer_id is unique
                      dtype = {'level_id':'object','question_id':'object','version':'object','course_id':'object'}, # str not ints
                               converters={'tokens':literal_eval,'tok_lem_POS':literal_eval}) # read in as lists
pelic_df.head()

,anon_id,L1,gender,course_id,level_id,class_id,question_id,version,text_len,text,tokens,tok_lem_POS
answer_id,,,,,,,,,,,,
1,eq0,Arabic,Male,149,4,g,5,1,177,I met my friend Nife while I was studying in a...,"[I, met, my, friend, Nife, while, I, was, stud...","((I, i, PRP), (met, meet, VBD), (my, my, PRP$)..."
2,am8,Thai,Female,149,4,g,5,1,137,"Ten years ago, I met a women on the train betw...","[Ten, years, ago, ,, I, met, a, women, on, the...","((Ten, ten, CD), (years, year, NNS), (ago, ago..."
3,dk5,Turkish,Female,115,4,w,12,1,64,In my country we usually don't use tea bags. F...,"[In, my, country, we, usually, do, n't, use, t...","((In, in, IN), (my, my, PRP$), (country, count..."
4,dk5,Turkish,Female,115,4,w,13,1,6,I organized the instructions by time.,"[I, organized, the, instructions, by, time, .]","((I, i, PRP), (organized, organize, VBD), (the..."
5,ad1,Korean,Female,115,4,w,12,1,59,"First, prepare a port, loose tea, and cup.\nSe...","[First, ,, prepare, a, port, ,, loose, tea, ,,...","((First, first, RB), (,, ,, ,), (prepare, prep..."

The focus here is the `tok_lem_POS` column, but all columns will be kept as the entire df will be written out at the end of the notebook.

In [3]:
# Creating small dataframe to be used for finding non-words

non_words = pelic_df[['text','tok_lem_POS']]

**Note:** For spelling correction, it is necessary to decide what list of words will be used for determining if a word is real or not.

Here, we use the [`SCOWL_condensed.txt`](https://github.com/ELI-Data-Mining-Group/PELIC-spelling/blob/master/SCOWL_condensed.txt) file which is a combination of wordlists available for download at http://wordlist.aspell.net/. We include items from all the dictionaries _except_ the abbreviations dictionary. For a detailed look at the compilation of this dictionary, please see the [SCOWL_wordlist](https://github.com/ELI-Data-Mining-Group/PELIC-spelling/blob/master/SCOWL_wordlist.ipynb) notebook.

In [4]:
#Reading in SCOWL_condensed as a set as a lookup list for spelling (500k words)

scowl = set(open("SCOWL_condensed.txt", "r").read().split('\n'))
print(random.sample(scowl,5))

['coef', 'belle', 'onomatopoeic', 'pyrolysable', 'windiest']

In [5]:
scowl = set([x.lower() for x in scowl])
len(scowl)

497552

The following is a list of words which should be considered words but which were previously being labelled as non-words. These items have been manually added to this list based on output later in this notebook. Most of these items are food items, names, or abbreviations.

In [6]:
scowl_supp = open("SCOWL_supp.txt", "r").read().split(',')
scowl_supp = [x[2:-1] for x in scowl_supp]
print(len(scowl_supp))
print(scowl_supp)

238
['adha', 'adj', 'ahamed', 'alaikum', 'anonurlpage', 'antiretroviral', 'arpa', 'atm', 'ave', 'beyonce', 'bibimbap', 'bio', 'biodiesel', 'bioethanol', 'bulgogi', 'bundang', 'cafe', 'carnaval', 'cds', 'cf', 'co', 'comscore', 'cyber', 'ddukboggi', 'def', 'dr', 'eg', 'eid', 'electrospray', 'entrees', 'erectus', 'etc', 'fiance', 'fiancee', 'fiter', 'fitir', 'fitr', 'fl', 'freediving', 'fukubukuro', 'geolinguist', 'hikikomori', 'hp', 'ibt', 'iq', 'iriver', 'jetta', 'jul', 'kabsa', 'kaled', 'kawader', 'kennywood', 'km', 'leisureville', 'll', 'maamool', 'mayumi', 'mcdonalds', 'min', 'mongongo', 'nc', 'neuro', 'nian', 'notting', 'okroshka', 'onsen', 'pajeon', 'pbt', 'pc', 'pcs', 'pp', 'pudim', 'puket', 'samear', 'shui', 'sq', 'st', 'staycation', 'sth', 'taoyuan', 'toefl', 'trans', 'transgene', 'tv', 'unsub', 'va', 'vol', 'vs', 'webaholic', 'webaholics', 'webaholism', 'wenjing', 'woong', 'yaoming', 'ying', 'yingdong', 'yugong', 'yuval', 'zi', 'abha', 'achuar', 'ae', 'afandi', 'aladha', 'alfater', 'alfeter', 'alfetr', 'alfter', 'alftr', 'ansan', 'apci', 'arial', 'ayumu', 'aziz', 'bartercard', 'bbc', 'bbq', 'beckham', 'bennigan', 'bmi', 'burkina', 'busan', 'camela', 'caral', 'ceos', 'cmu', 'cnn', 'cpu', 'cyworld', 'daegu', 'dammam', 'dc', 'dvd', 'dvds', 'eaid', 'esl', 'etat', 'ets', 'etsuko', 'eun', 'fargana', 'fda', 'federer', 'feng', 'frisbee', 'gaviotas', 'gmo', 'gpa', 'gunsan', 'hadza', 'hanshin', 'hd', 'hofstra', 'hsk', 'hyun', 'iaad', 'ielts', 'incheon', 'jang', 'japchae', 'jazan', 'jeddah', 'jeju', 'jiri', 'jong', 'jr', 'junine', 'kabsah', 'kakike', 'kanye', 'kimbab', 'kmt', 'koreas', 'krabi', 'ksa', 'kyung', 'lcd', 'lelan', 'lenovo', 'lg', 'lippman', 'longman', 'matsui', 'meltzer', 'mishori', 'mlb', 'morakot', 'mp', 'msn', 'mt', 'myung', 'nadal', 'najran', 'namwon', 'nano', 'nba', 'neimark', 'ngondo', 'noha', 'noor', 'nouwen', 'nyc', 'obon', 'occitane', 'oishi', 'paterno', 'pattak', 'pattee', 'pausini', 'pnc', 'qdoba', 'ritu', 'roh', 'ronaldo', 'rsa', 'sakarya', 'saletan', 'saudia', 'sawiris', 'sc', 'sep', 'sf', 'southside', 'sujin', 'tgif', 'toeic', 'tvs', 'upmc', 'usd', 'usda', 'vaio', 'wto', 'xbox', 'yokoso', 'yut', 'zawia', 'zhou', 'zong']

In [7]:
# Lower case all toks

non_words.tok_lem_POS = non_words.tok_lem_POS.apply(lambda row: [(x[0].lower(),x[1],x[2]) for x in row])

/opt/anaconda3/lib/python3.7/site-packages/pandas/core/generic.py:5303: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self[name] = value

In [8]:
# Function to find non-words

def spell_check(tok_lem_POS_list):
    word_list = scowl # Choose word_list here. Default is scowl described above.
    not_in_word_list = []
    for tok_lem_POS in tok_lem_POS_list:
        if tok_lem_POS[0] not in word_list and tok_lem_POS[0] not in scowl_supp:
            not_in_word_list.append(tok_lem_POS)
    return not_in_word_list

In [9]:
# Apply spell check function to find all misspelled-words. 

non_words['misspelled_words'] = non_words.tok_lem_POS.apply(spell_check)

/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until

In [10]:
non_words.head()

,text,tok_lem_POS,misspelled_words
answer_id,,,
1,I met my friend Nife while I was studying in a...,"[(i, i, PRP), (met, meet, VBD), (my, my, PRP$)...","[(., ., .), (., ., .), (., ., .), (;, ;, :), (..."
2,"Ten years ago, I met a women on the train betw...","[(ten, ten, CD), (years, year, NNS), (ago, ago...","[(,, ,, ,), (,, ,, ,), (., ., .), (;, ;, :), (..."
3,In my country we usually don't use tea bags. F...,"[(in, in, IN), (my, my, PRP$), (country, count...","[(., ., .), (,, ,, ,), (., ., .), (., ., .), (..."
4,I organized the instructions by time.,"[(i, i, PRP), (organized, organize, VBD), (the...","[(., ., .)]"
5,"First, prepare a port, loose tea, and cup.\nSe...","[(first, first, RB), (,, ,, ,), (prepare, prep...","[(,, ,, ,), (,, ,, ,), (,, ,, ,), (., ., .), (..."

#### Adding context to the dataframe
Seeing the mistakes in the context of a sentence will allow for better manual checking if required.

In [11]:
# Sent-tokenizing the text

non_words['sentence'] = non_words['text'].apply(lambda x: nltk.sent_tokenize(x))

# And delete text column which is no longer needed

del non_words['text']

/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until

In [12]:
# Checking for hyphenated words tagged as misspellings because SCOWL doesn't contain hypenated words

hyphenated = set([x[0] for x in [x for y in non_words.misspelled_words.to_list() for x in y] if '-' in x[0]])
print(len(hyphenated))
print(list(hyphenated)[:10])

# These need to be removed from the non-words dataframe if composed of valid words

1182
['straight-backed', 'left-handers', 'government-funded', 'low-carbon', 'mid-forties', 'side-effects', 'motion-picture', 'good-time', 'sixty-year-old', 'user-generated']

In [13]:
# Hyphenated items whose components are not in scowl - possible misspellings or punctuation strings

sorted([y for y in [x.split('-') for x in hyphenated] if y[0] not in scowl or y[1] not in scowl])

[['', "'"],
 ['', '***', '****'],
 ['', '+'],
 ['', '.'],
 ['',
  '.',
  '.',
  '.',
  '.',
  '.',
  '.',
  '.',
  '.',
  '.',
  '.',
  '.',
  '.',
  '.',
  '.',
  '.',
  '.',
  '.',
  ''],
 ["'", ''],
 ['.', ''],
 ['/', ''],
 ['\\\\', ''],
 ['^', '^'],
 ['al', 'qaida'],
 ['austro', 'hungarian'],
 ['cd', 'rom'],
 ['co', 'authored'],
 ['co', 'ed'],
 ['co', 'educational'],
 ['co', 'exist'],
 ['co', 'existence'],
 ['co', 'founded'],
 ['co', 'founder'],
 ['co', 'founders'],
 ['co', 'host'],
 ['co', 'op'],
 ['co', 'operate'],
 ['co', 'operation'],
 ['co', 'pay'],
 ['co', 'pilot'],
 ['co', 'sleeping'],
 ['co', 'star'],
 ['co', 'worker'],
 ['co', 'workers'],
 ['co', 'written'],
 ['co', 'wrote'],
 ['mah', 'jong'],
 ['mid', '80s'],
 ['pay', 'tv'],
 ['roly', 'poly'],
 ['socio', 'cultural'],
 ['socio', 'economic'],
 ['trans', 'fat'],
 ['vis', 'a', 'vis'],
 ['wal', 'mart']]

After manual checking, all the hypenated words are punctuation, real words (or true productive use of affixes) and can be removed from the non-words df.

The following two cells 
1. remove all the hypenated words from the dataframe
2. remove all words that don't contain a letter

However, as all hyphenated word are fine, we will instead just eliminate all words that are not purely composed of letters. This will have the effect of removing the following categories from the dataframe:
- punctuation
- hyphenated words (e.g. well-known)
- contractions (e.g. 'll, 've)
- years (e.g. 1950s)
- ordinals (e.g. 1st, 2nd)

## Tangent
The next three cells use the above information to create a more complete `PELIC-SCOWL.txt` wordlist for use with PELIC data.

In [14]:
%%capture

# Creating a text file of hyphenated list for use elsewhere in creating an PELIC-SCOWL wordlist

hyphenated = {word for word in hyphenated if any(x.isalpha() for x in word)}
with open('hyphens.txt', 'w') as f:
    for item in hyphenated:
        f.write("%s\n" % item)

In [15]:
%%capture

# Creating a text file of contractions for use elsewhere in creating an PELIC-SCOWL wordlist

contractions = {"'ll","'ve","n't","'m","'s","'d","'re","'ve"}
with open('contractions.txt', 'w') as f:
    for item in contractions:
        f.write("%s\n" % item)

In [16]:
%%capture

# Combining SCOWL_condensed, hyphenated, and contraction lists

pelic_scowl = scowl|hyphenated|contractions
pelic_scowl.remove('')
pelic_scowl = sorted(list(pelic_scowl))

with open('PELIC-SCOWL.txt', 'w') as f:
    for item in pelic_scowl:
        f.write("%s\n" % item)

In [17]:
# Removing hypenated words

# non_words.misspelled_words = non_words.misspelled_words.apply(lambda row: [x for x in row if x[0] not in hyphenated])

In [18]:
# Removing items that are only numbers or punctuation
# .isalpha() cannot be used without 'any' as this also removes hyphenated words

# non_words.misspelled_words = non_words.misspelled_words.apply(lambda row: [x for x in row if any(y.isalpha() for y in x[0])])

In [19]:
# Checking initial length of non_words list

print(len([x for y in non_words.misspelled_words.to_list() for x in y]))
print(len(set([x for y in non_words.misspelled_words.to_list() for x in y])))

680898
20385

In [20]:
# Removing items that are not purely alpha

non_words.misspelled_words = non_words.misspelled_words.apply(lambda row: [x for x in row if x[0].isalpha()])

/opt/anaconda3/lib/python3.7/site-packages/pandas/core/generic.py:5303: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self[name] = value

In [21]:
# Checking affect of removal

print(len([x for y in non_words.misspelled_words.to_list() for x in y]))
print(len(set([x for y in non_words.misspelled_words.to_list() for x in y])))

26650
15779

In [22]:
# Removing proper names - NNP, NNPS

# non_words.misspelled_words = non_words.misspelled_words.apply(lambda row: [x for x in row if x[2] != 'NNP' and x[1] != 'NNPS'])

After manual checking, it was decided to keep in items tagged as NNP and NNPS as some items were in fact mistagged and were general capitalized nouns (NN) which were misspelled.

In [23]:
# Checking affect of removal

print(len([x for y in non_words.misspelled_words.to_list() for x in y]))
print(len(set([x for y in non_words.misspelled_words.to_list() for x in y])))

26650
15779

In [24]:
# Removing all words with length 1

non_words.misspelled_words = non_words.misspelled_words.apply(lambda row: [x for x in row if len(x[0]) > 1])

In [25]:
# Checking affect of removal

print(len([x for y in non_words.misspelled_words.to_list() for x in y]))
print(len(set([x for y in non_words.misspelled_words.to_list() for x in y])))

26638
15770

In [26]:
# Removing all words with special characters (non_ascii)
# after checking, these are all foreign words with accents and other non-latin characters

# Creating function to check
def is_ascii(s):
    return all(ord(c) < 128 for c in s)

In [27]:
non_word_list = set([x for y in non_words.misspelled_words.to_list() for x in y])
foreign_words = [x for x in non_word_list if is_ascii(x[0]) == False ]
foreign_words[:20]

[('niño', 'niño', 'NNP'),
 ('êþæã', 'êþæã', 'NNP'),
 ('çáðí', 'çáðí', 'NNP'),
 ('çíå', 'çíå', 'NNP'),
 ('ãôñæúåç', 'ãôñæúåç', 'NNP'),
 ('çääì', 'çääì', 'NNP'),
 ('çáíçá', 'çáíçá', 'NNP'),
 ('ãä', 'ãä', 'NNP'),
 ('sá', 'sá', 'NNP'),
 ('áì', 'áì', 'NNP'),
 ('çáíåç', 'çáíåç', 'NNP'),
 ('çêãäì', 'çêãäì', 'NNP'),
 ('byüt', 'byüt', 'NN'),
 ('íçãíãï', 'íçãíãï', 'NNP'),
 ('êíáýæäì', 'êíáýæäì', 'NNP'),
 ('íäçä', 'íäçä', 'VB'),
 ('ýçääì', 'ýçääì', 'NNP'),
 ('lourenço', 'lourenço', 'NNP'),
 ('çáêçáì', 'çáêçáì', 'NN'),
 ('ãñé', 'ãñé', 'NNP')]

In [28]:
# Removing foreign words

non_words.misspelled_words = non_words.misspelled_words.apply(lambda row: [x for x in row if x not in foreign_words])

In [29]:
# Checking affect of removal

print(len([x for y in non_words.misspelled_words.to_list() for x in y]))
print(len(set([x for y in non_words.misspelled_words.to_list() for x in y])))

26315
15531

In [30]:
non_words.head()

,tok_lem_POS,misspelled_words,sentence
answer_id,,,
1,"[(i, i, PRP), (met, meet, VBD), (my, my, PRP$)...",[],[I met my friend Nife while I was studying in ...
2,"[(ten, ten, CD), (years, year, NNS), (ago, ago...",[],"[Ten years ago, I met a women on the train bet..."
3,"[(in, in, IN), (my, my, PRP$), (country, count...",[],"[In my country we usually don't use tea bags.,..."
4,"[(i, i, PRP), (organized, organize, VBD), (the...",[],[I organized the instructions by time.]
5,"[(first, first, RB), (,, ,, ,), (prepare, prep...",[],"[First, prepare a port, loose tea, and cup., S..."

Create new dataframe so that each misspelling token is a separate row.

In [31]:
# Removing rows with no misspellings

non_words2 = non_words.loc[non_words.misspelled_words.str.len() > 0,:].copy()

In [32]:
# Exploding the lists in misspelled words so that each misspelling gets its own row

non_words2 = non_words2.explode('misspelled_words')

In [33]:
# Keeping only the sentence containing the error (the first occurence of the error if repeated)

non_words2['sentence'] = list(zip([x[0] for x in non_words2.misspelled_words], non_words2.sentence))
non_words2['sentence'] = non_words2['sentence'].apply(
    lambda row: [i for i in row[1] if row[0] in lex.re_tokenize(i) or row[0]+"n't" in i.lower()])
non_words2['sentence'] = [x[0] for x in non_words2['sentence']]
non_words2 = non_words2.drop_duplicates(subset = ['misspelled_words','sentence'])

In [34]:
# Keeping the answer_id (which is no longer unique) as a separate column

non_words2 = non_words2.reset_index(drop = False)
non_words2.head()

,answer_id,tok_lem_POS,misspelled_words,sentence
0,8,"[(i, i, PRP), (organized, organize, VBD), (the...","(beacause, beacause, NN)","I organized the instructions by time, beacause..."
1,11,"[(to, to, TO), (make, make, VB), (tea, tea, NN...","(wallmart, wallmart, NN)","next, you need to buy a box of tea in wallmart..."
2,13,"[(first, first, RB), (,, ,, ,), (you, you, PRP...","(dovn, dovn, NN)","First, you should take some hot water, you can..."
3,13,"[(first, first, RB), (,, ,, ,), (you, you, PRP...","(mircowave, mircowave, VBP)","First, you should take some hot water, you can..."
4,15,"[(in, in, IN), (my, my, PRP$), (country, count...","(fitst, fitst, NNP)","Fitst, boil a water in a pot."

#### Adding a bigrams column, i.e. one token left and right of the misspelled word

In [35]:
# Creating a tokenized version of the sentence without punctuation and with the index for each token

non_words2['enumerated'] = non_words2.sentence.apply(lambda x: lex.re_tokenize(x)).apply(enumerate).apply(list)
non_words2.head()

,answer_id,tok_lem_POS,misspelled_words,sentence,enumerated
0,8,"[(i, i, PRP), (organized, organize, VBD), (the...","(beacause, beacause, NN)","I organized the instructions by time, beacause...","[(0, i), (1, organized), (2, the), (3, instruc..."
1,11,"[(to, to, TO), (make, make, VB), (tea, tea, NN...","(wallmart, wallmart, NN)","next, you need to buy a box of tea in wallmart...","[(0, next), (1, you), (2, need), (3, to), (4, ..."
2,13,"[(first, first, RB), (,, ,, ,), (you, you, PRP...","(dovn, dovn, NN)","First, you should take some hot water, you can...","[(0, first), (1, you), (2, should), (3, take),..."
3,13,"[(first, first, RB), (,, ,, ,), (you, you, PRP...","(mircowave, mircowave, VBP)","First, you should take some hot water, you can...","[(0, first), (1, you), (2, should), (3, take),..."
4,15,"[(in, in, IN), (my, my, PRP$), (country, count...","(fitst, fitst, NNP)","Fitst, boil a water in a pot.","[(0, fitst), (1, boil), (2, a), (3, water), (4..."

In [36]:
# Creating a function to extract the bigrams (1 word either side of misspelling)

def get_bigrams(misspelled_word, enumerated_list):
    if len(enumerated_list) <2:
        return []
    for tup in enumerated_list:
        if tup[1] == misspelled_word[0]:
            if tup[0] == 0:
                bigram = ' '.join([x[1] for x in (enumerated_list[tup[0]],enumerated_list[tup[0]+1])])
                return [(bigram,2)]
            if tup[0] == len(enumerated_list)-1:
                bigram = ' '.join([x[1] for x in (enumerated_list[tup[0]-1],enumerated_list[tup[0]])])
                return [(bigram,1)]
            else:
                bigram1 = ' '.join([x[1] for x in (enumerated_list[tup[0]-1],enumerated_list[tup[0]])])
                bigram2 = ' '.join([x[1] for x in (enumerated_list[tup[0]],enumerated_list[tup[0]+1])])
                return [(bigram1,1), (bigram2,2)]
            
# Notes:
# '1' and '2' added as identifiers to show which word in bigram is the misspelling
# Type 1 bigram = (word, misspelling), Type 2 bigram = (misspelling, word)

In [37]:
# Testing the function

test_list = non_words2.iloc[5,4]
print(test_list)

first_item = non_words2.iloc[5,1][0] # first item in list
middle_item = non_words2.iloc[5,1][4] # item in in middle of list
last_item = non_words2.iloc[5,1][8] # item at end of list
print('\n',first_item, middle_item, last_item)

[(0, 'every'), (1, 'paragragh'), (2, 's'), (3, 'instructions'), (4, 'depend'), (5, 'on'), (6, 'a'), (7, 'main'), (8, 'idea')]

 ('every', 'every', 'DT') ('depend', 'depend', 'VBP') ('idea', 'idea', 'NN')

In [38]:
#getbigrams

print(get_bigrams(first_item,test_list)) # One possible bigram
print(get_bigrams(middle_item,test_list)) # Two possible bigrams
print(get_bigrams(last_item,test_list)) # One possible bigram

[('every paragragh', 2)]
[('instructions depend', 1), ('depend on', 2)]
[('main idea', 1)]

In [39]:
# Applying getbigrams2

non_words2['bigrams'] = non_words2[['misspelled_words','enumerated']].apply(lambda x: get_bigrams(x[0],x[1]), axis=1)

In [40]:
non_words2.head()

,answer_id,tok_lem_POS,misspelled_words,sentence,enumerated,bigrams
0,8,"[(i, i, PRP), (organized, organize, VBD), (the...","(beacause, beacause, NN)","I organized the instructions by time, beacause...","[(0, i), (1, organized), (2, the), (3, instruc...","[(time beacause, 1), (beacause to, 2)]"
1,11,"[(to, to, TO), (make, make, VB), (tea, tea, NN...","(wallmart, wallmart, NN)","next, you need to buy a box of tea in wallmart...","[(0, next), (1, you), (2, need), (3, to), (4, ...","[(in wallmart, 1), (wallmart or, 2)]"
2,13,"[(first, first, RB), (,, ,, ,), (you, you, PRP...","(dovn, dovn, NN)","First, you should take some hot water, you can...","[(0, first), (1, you), (2, should), (3, take),...","[(use dovn, 1), (dovn mircowave, 2)]"
3,13,"[(first, first, RB), (,, ,, ,), (you, you, PRP...","(mircowave, mircowave, VBP)","First, you should take some hot water, you can...","[(0, first), (1, you), (2, should), (3, take),...","[(dovn mircowave, 1), (mircowave or, 2)]"
4,15,"[(in, in, IN), (my, my, PRP$), (country, count...","(fitst, fitst, NNP)","Fitst, boil a water in a pot.","[(0, fitst), (1, boil), (2, a), (3, water), (4...","[(fitst boil, 2)]"

In [41]:
# The 14 misspellings with contracted words did not return any suggestions as the n't is handled differently by 
# the re_tokenize function which strips punctuation and the nltk tokenizer used to create the tok_lem_POS column

no_bigrams = non_words2.loc[(non_words2['bigrams'].isnull()) & (non_words2.enumerated.str.len() >1),:]
print(len(no_bigrams))
no_bigrams.head(20)

14

,answer_id,tok_lem_POS,misspelled_words,sentence,enumerated,bigrams
909,1469,"[(about, about, IN), (4, 4, CD), (days, day, N...","(shoudl, shoudl, VBP)","Anyway, we went to a hospital and the doctor s...","[(0, anyway), (1, we), (2, went), (3, to), (4,...",None
1100,1797,"[(i, i, PRP), (failed, fail, VBD), (the, the, ...","(idid, idid, NNP)",I failed the test because Ididn't study.,"[(0, i), (1, failed), (2, the), (3, test), (4,...",None
2446,4804,"[(bill, bill, NNP), (shoul, shoul, VBP), (n't,...","(shoul, shoul, VBP)",Bill shouln't have lied about the price of the...,"[(0, bill), (1, shouln), (2, t), (3, have), (4...",None
2449,4830,"[(caroline, caroline, NNP), (must, must, MD), ...","(sould, sould, VBP)",Caroline souldn't have insulted Bill in front ...,"[(0, caroline), (1, souldn), (2, t), (3, have)...",None
2725,6346,"[(last, last, JJ), (year, year, NN), (,, ,, ,)...","(sould, sould, MD)",I told the officer that he caused the accident...,"[(0, i), (1, told), (2, the), (3, officer), (4...",None
2728,6346,"[(last, last, JJ), (year, year, NN), (,, ,, ,)...","(sould, sould, VBP)",I told the officer that he caused the accident...,"[(0, i), (1, told), (2, the), (3, officer), (4...",None
3750,8640,"[(before, before, IN), (i, i, PRP), (came, com...","(daoe, daoe, VBP)","I like to play soccer,but in Korea daoen't hav...","[(0, i), (1, like), (2, to), (3, play), (4, so...",None
4051,10001,"[(you, you, PRP), (shoud, shoud, VBP), (n't, n...","(shoud, shoud, VBP)",You shoudn't,"[(0, you), (1, shoudn), (2, t)]",None
10334,23939,"[(i, i, PRP), (have, have, VBP), (an, a, DT), ...","(sould, sould, VBP)",I souldn't have gone to his wedding party.,"[(0, i), (1, souldn), (2, t), (3, have), (4, g...",None
11393,26126,"[(i, i, PRP), (like, like, VBP), (cooking, coo...","(doed, doed, VBP)",But In pittsburgh doedn't have good traditiona...,"[(0, but), (1, in), (2, pittsburgh), (3, doedn...",None
11902,27409,"[(on, on, IN), (saturday, saturday, NN), (,, ,...","(shoul, shoul, VBP)",I shouln't have gone Giant Eagle or I could ha...,"[(0, i), (1, shouln), (2, t), (3, have), (4, g...",None
12068,27911,"[(maui, maui, NNP), (is, be, VBZ), (the, the, ...","(counld, counld, VBP)",I counldn't forget the experience when I was i...,"[(0, i), (1, counldn), (2, t), (3, forget), (4...",None
13442,30978,"[(as, as, IN), (being, be, VBG), (a, a, DT), (...","(woould, woould, VBP)","All of them are native speakers, I was pretty ...","[(0, all), (1, of), (2, them), (3, are), (4, n...",None
16630,37339,"[(you, you, PRP), (should, should, MD), (visit...","(shold, shold, VBP)",You sholdn't shake hands when you first meet s...,"[(0, you), (1, sholdn), (2, t), (3, shake), (4...",None

In [42]:
# Creating function to fix these items

misspelled_contractions = [x[0] for x in no_bigrams.misspelled_words]

def fix_contractions(word):
    if word == "t":
        word = "n't"
    if word[:-1] in misspelled_contractions:
        word = word[:-1]
    return word

In [43]:
# Applying the above function to the selected rows

mask = non_words2.index.isin(no_bigrams.index)
non_words2.loc[mask, 'enumerated'] = non_words2.loc[mask, 'enumerated'].apply(
    lambda row: [(x[0],fix_contractions(x[1])) for x in row])

In [44]:
# Reapplying the bigrams function

non_words2['bigrams'] = non_words2[['misspelled_words','enumerated']].apply(lambda x: get_bigrams(x[0],x[1]), axis=1)

In [45]:
# Re-checking that all rows have bigrams
non_words2.loc[(non_words2['bigrams'].isnull()) & (non_words2.enumerated.str.len() >1),:]

Empty DataFrame
Columns: [answer_id, tok_lem_POS, misspelled_words, sentence, enumerated, bigrams]
Index: []

In [46]:
# Deleting the enumerated column as no longer necessary

del non_words2['enumerated']

In [47]:
# Renaming the 'misspelled_words' column as there is only one word in each row

non_words2 = non_words2.rename(columns={"misspelled_words": "misspelling"})

In [48]:
# Checking final non_words2 dataframe

non_words2.head()

,answer_id,tok_lem_POS,misspelling,sentence,bigrams
0,8,"[(i, i, PRP), (organized, organize, VBD), (the...","(beacause, beacause, NN)","I organized the instructions by time, beacause...","[(time beacause, 1), (beacause to, 2)]"
1,11,"[(to, to, TO), (make, make, VB), (tea, tea, NN...","(wallmart, wallmart, NN)","next, you need to buy a box of tea in wallmart...","[(in wallmart, 1), (wallmart or, 2)]"
2,13,"[(first, first, RB), (,, ,, ,), (you, you, PRP...","(dovn, dovn, NN)","First, you should take some hot water, you can...","[(use dovn, 1), (dovn mircowave, 2)]"
3,13,"[(first, first, RB), (,, ,, ,), (you, you, PRP...","(mircowave, mircowave, VBP)","First, you should take some hot water, you can...","[(dovn mircowave, 1), (mircowave or, 2)]"
4,15,"[(in, in, IN), (my, my, PRP$), (country, count...","(fitst, fitst, NNP)","Fitst, boil a water in a pot.","[(fitst boil, 2)]"

In [49]:
# Total number of non-words (tokens)
print(len(non_words2))

# Total number of non-words (types)
print(non_words2.misspelling.nunique())

21068
15531

#### Creating a dataframe of misspellings
In the `non-words2` dataframe above, each row is an occurrence of a misspelling (i.e. _tokens_ ). We also want a dataframe where each row is a misspelling _type_ with frequency information attached.

In [50]:
# Gathering the total misspellings and bigrams

total_unigram_misspell = [x for x in non_words2['misspelling']]
total_bigram_misspell = [x[0] for y in non_words2['bigrams'] for x in y] #flattened list

In [51]:
print(total_unigram_misspell[:5])
print(total_bigram_misspell[:5])

[('beacause', 'beacause', 'NN'), ('wallmart', 'wallmart', 'NN'), ('dovn', 'dovn', 'NN'), ('mircowave', 'mircowave', 'VBP'), ('fitst', 'fitst', 'NNP')]
['time beacause', 'beacause to', 'in wallmart', 'wallmart or', 'use dovn']

In [52]:
# Creating frequency dictionaries for unigrams and bigrams

unigram_misspell_freq_dict = {}
for word in total_unigram_misspell:
    if word not in unigram_misspell_freq_dict:
        unigram_misspell_freq_dict[word] = 1
    else:
        unigram_misspell_freq_dict[word] += 1

In [53]:
bigram_misspell_freq_dict = {}
for bigram in total_bigram_misspell:
    if bigram not in bigram_misspell_freq_dict:
        bigram_misspell_freq_dict[bigram] = 1
    else:
        bigram_misspell_freq_dict[bigram] += 1

In [54]:
# Checking dictionaries

print(random.sample(list(unigram_misspell_freq_dict),5))
print(random.sample(list(bigram_misspell_freq_dict),5))

[('paticipates', 'paticipates', 'VBZ'), ('emegency', 'emegency', 'NNP'), ('achimp', 'achimp', 'NNP'), ('oficial', 'oficial', 'JJ'), ('sprata', 'sprata', 'NN')]
['whose writier', 'writing espically', 'layz and', 'about vernons', 'havd many']

In [55]:
# Remove duplicates

final_unigram_misspellings = sorted(list(set(total_unigram_misspell)))
final_bigram_misspellings = sorted(list(set(total_bigram_misspell)))
print(len(final_unigram_misspellings))
print(len(final_bigram_misspellings))

15531
31915

In [56]:
# Constructing misspell_df

misspell_df = pd.DataFrame(final_unigram_misspellings)
misspell_df.head()

        0       1    2
0      aa      aa  NNP
1      aa      aa   VB
2  aabout  aabout   IN
3     aad     aad   JJ
4    aain    aain  VBP

In [57]:
# Renaming columns to match other DataFrames in this notebook

misspell_df.rename(columns = {0: 'misspelling',1:'lemma',2:'POS'}, inplace = True)

In [58]:
# Recreating tok_lem_POS column to match dictionary

misspell_df['tok_lem_POS'] = list(zip(misspell_df.misspelling, misspell_df.lemma, misspell_df.POS))
misspell_df.head()

  misspelling   lemma  POS           tok_lem_POS
0          aa      aa  NNP         (aa, aa, NNP)
1          aa      aa   VB          (aa, aa, VB)
2      aabout  aabout   IN  (aabout, aabout, IN)
3         aad     aad   JJ        (aad, aad, JJ)
4        aain    aain  VBP     (aain, aain, VBP)

In [59]:
# Mapping dictionary to DataFrame

misspell_df['freq'] = misspell_df['tok_lem_POS'].map(unigram_misspell_freq_dict)

In [60]:
# Sorting by frequency

misspell_df = misspell_df.sort_values(by=['freq'], ascending=False)

In [61]:
# Resetting index and deleting unnecesary columns

misspell_df = misspell_df.reset_index(drop = True)
del misspell_df['lemma']
del misspell_df['POS']

misspell_df.head(20)

   misspelling                    tok_lem_POS  freq
0         alot               (alot, alot, NN)   103
1      studing        (studing, studing, VBG)    62
2        tofel            (tofel, tofel, NNP)    39
3    goverment     (goverment, goverment, NN)    36
4          iam                (iam, iam, NNP)    28
5       finaly          (finaly, finaly, NNP)    26
6     beatiful       (beatiful, beatiful, JJ)    24
7      becuase         (becuase, becuase, NN)    24
8      nickell        (nickell, nickell, NNP)    22
9          oss                (oss, oss, NNP)    22
10     becouse         (becouse, becouse, IN)    21
11  differents  (differents, differents, NNS)    21
12       shoud            (shoud, shoud, VBP)    21
13      okland          (okland, okland, NNP)    20
14       befor             (befor, befor, NN)    20
15    somthing      (somthing, somthing, VBG)    20
16    eilperin      (eilperin, eilperin, NNP)    20
17   resturant     (resturant, resturant, NN)    18
18       sould            (sould, sould, VBP)    18
19     grammer         (grammer, grammer, NN)    18

#### scowl_supp
The following is the basis for the 'scowl_supp' list used earlier. Here, errors with a frequency of 10 or more were manually checked, and if determined to be a real word, were added to the scowl_supp list. There were originally 267 items which met this criteria.

In [62]:
print(len(misspell_df.loc[misspell_df.freq >= 10]))
misspell_df.loc[misspell_df.freq >= 10]

63

   misspelling                 tok_lem_POS  freq
0         alot            (alot, alot, NN)   103
1      studing     (studing, studing, VBG)    62
2        tofel         (tofel, tofel, NNP)    39
3    goverment  (goverment, goverment, NN)    36
4          iam             (iam, iam, NNP)    28
..         ...                         ...   ...
58   childrens     (childrens, child, NNS)    10
59       befor          (befor, befor, IN)    10
60    differnt    (differnt, differnt, JJ)    10
61     eatting     (eatting, eatting, VBG)    10
62     stangor     (stangor, stangor, NNP)    10

[63 rows x 3 columns]

### Possible segmentation

Selected segmenter and spellchecker: SymSpell https://github.com/mammothb/symspellpy

There is a dictionary file which which needs to be installed (saved to repo):
[frequency_dictionary_en_82_765.txt](https://symspellpy.readthedocs.io/en/latest/users/installing.html)

To install symspellpy the first time, use pip in command line: `pip install -U symspellpy`

Prior to spelling correct, we first consider using the segmenter. This is a potentially useful first step as misspellings like 'alot' or 'dogmeat' will be separated into 'a lot' and 'dog meat' rather than corrected to a single word like 'lot'.  

However, when segementing misspellings, the segmenter over performs, segmenting non-words into real words where it was clearly not intended, e.g. _improtant_ into _imp rot ant_ or _befor_ into _be for_. As such, the segmenting will not be automated. 

Instead, we rely on the bigram spelling correction which correctly segments items like _alot, iam, everytime,_ etc.

In [63]:
# Setting up symspell

from itertools import islice
import pkg_resources
from symspellpy import SymSpell
from symspellpy import Verbosity
sym_spell = SymSpell()
dictionary_path = pkg_resources.resource_filename(
    "symspellpy", "frequency_dictionary_en_82_765.txt")
sym_spell.load_dictionary(dictionary_path, 0, 1)

# Print out first 5 elements to demonstrate that dictionary is successfully loaded
list(islice(sym_spell.words.items(), 5))

[('the', 23135851162),
 ('of', 13151942776),
 ('and', 12997637966),
 ('to', 12136980858),
 ('a', 9081174698)]

In [64]:
# Testing segmenter with 'alot' and 'dogmeat'

# Set max_dictionary_edit_distance to avoid spelling correction
sym_spell = SymSpell(max_dictionary_edit_distance=0, prefix_length=7)
sym_spell.load_dictionary(dictionary_path, term_index=0, count_index=1)

# It is also possible to display frequency with result.distance_sum and edit distance with .log_prob_sum

True

In [65]:
# Creating function for applying the above code

def get_segments(word):
    segments = sym_spell.word_segmentation(word)
    if len(segments.corrected_string.split(' ')) > 1 \
    and segments.corrected_string.split(' ')[0] in scowl and segments.corrected_string.split(' ')[1] in scowl:
        return segments.corrected_string
    else:
        return word

In [66]:
# Testing function

print(get_segments('dogmeat')) # Should be segmented
print(get_segments('fireplace')) # Should not be segmented
print(get_segments('becuase')) # Should not be segmented

dog meat
fireplace
becuase

In [67]:
# Applying the function to create a new column

misspell_df['segments'] =  misspell_df['misspelling'].apply(get_segments)
misspell_df.head(10)

  misspelling                 tok_lem_POS  freq      segments
0        alot            (alot, alot, NN)   103         a lot
1     studing     (studing, studing, VBG)    62      stu ding
2       tofel         (tofel, tofel, NNP)    39         tofel
3   goverment  (goverment, goverment, NN)    36  g over men t
4         iam             (iam, iam, NNP)    28          i am
5      finaly       (finaly, finaly, NNP)    26       final y
6    beatiful    (beatiful, beatiful, JJ)    24    beat if ul
7     becuase      (becuase, becuase, NN)    24       becuase
8     nickell     (nickell, nickell, NNP)    22      nick ell
9         oss             (oss, oss, NNP)    22           oss

In [68]:
# Deleting this new column as segmentation creates false segments of misspelled words

del misspell_df['segments']

### Applying spelling correction

In some ways SymSpell is not ideal as full sentence context is not considered, only general frequencies. However, other well-known spellcheckers (hunspell, pyspell, etc.) use the same strategy - frequency based criteria for suggestions, without considering immediate cotext. As such, we have followed this common practice, but it is important to remember that accuracy of corrected tokens will not be 100% and must be taken into consideration.

As a compromise and to consider context, spelling corrections based on bigrams is first implemented. If no suggestions are available, spelling corrections based on unigrams are implemented.

In [69]:
# Testing spelling suggestions with 'becuase'

sym_spell = SymSpell(max_dictionary_edit_distance=2, prefix_length=7)
dictionary_path = pkg_resources.resource_filename(
    "symspellpy", "frequency_dictionary_en_82_765.txt")
# term_index is the column of the term and count_index is the column of the term frequency
sym_spell.load_dictionary(dictionary_path, term_index=0, count_index=1)

input_term = "becuase"
suggestions = sym_spell.lookup(input_term, Verbosity.CLOSEST, max_edit_distance=2, #Edit distance can be adjusted
                               transfer_casing=True, #Optional argument set to ignore case
                              include_unknown=True) #Return same word if unknown
for suggestion in suggestions:
    print(suggestion)

because, 1, 271323986

In [70]:
# Creating function for finding unigram suggestions

def get_unigram_suggestions(word):
    if len(word) >= 4:
        suggestions = sym_spell.lookup(word, Verbosity.CLOSEST,max_edit_distance=2, transfer_casing=True)
    else:
        suggestions = sym_spell.lookup(word, Verbosity.CLOSEST,max_edit_distance=1, transfer_casing=True)
    return [str(x).split(',') for x in suggestions]

In [71]:
# Testing function

get_unigram_suggestions('becuase')

[['because', ' 1', ' 271323986']]

**Note**: The function has a variable edit distance: words of length 4 or more get edit distance of 2, shorter words get edit distance of 1. These preferences can be adjusted in the function if desired.

In [72]:
# Testing spelling suggestions with 'becuase of'

max_edit_distance_dictionary = 2
prefix_length = 7
sym_spell = SymSpell(max_edit_distance_dictionary, prefix_length)
bigram_path = pkg_resources.resource_filename("symspellpy", "frequency_bigramdictionary_en_243_342.txt")
if not sym_spell.load_dictionary(dictionary_path, term_index=0, count_index=1):
    print("Dictionary file not found")
if not sym_spell.load_bigram_dictionary(bigram_path, term_index=0, count_index=2):
    print("Bigram dictionary file not found")
input_term = 'becuase of'
max_edit_distance_lookup = 2
suggestions = sym_spell.lookup_compound(input_term, max_edit_distance_lookup)
for suggestion in suggestions:
    print(suggestion)

because of, 1, 3481714

In [73]:
# Creating function for finding bigram suggestions

def get_bigram_suggestions(bigram):
    suggestions = sym_spell.lookup_compound(bigram, max_edit_distance_lookup)
    for suggestion in suggestions:
        return [str(x).split(',') for x in suggestions]

In [74]:
# Testing function
get_bigram_suggestions('worq harg')

[['work hard', ' 2', ' 53229']]

In [75]:
# Returing to non_words2 dataframe and applying functions to create new column

# Creating unigram suggestions column

non_words2['unigram_suggestions'] =  non_words2['misspelling'].apply(
    lambda x: get_unigram_suggestions(x[0]))

In [76]:
# Turning into tuples for easier processing

non_words2.unigram_suggestions = non_words2.unigram_suggestions.apply(
    lambda row: [tuple(x) for x in row])

In [77]:
# Creating bigram suggestions column

non_words2['bigram_suggestions'] =  non_words2['bigrams'].apply(
    lambda row: [(get_bigram_suggestions(x[0]),x[1]) for x in row])

In [78]:
# Flattening and turning into tuples for easier processing

non_words2['bigram_suggestions'] = non_words2.bigram_suggestions.apply(
    lambda row: [(tuple([i for j in x[0] for i in j]),x[1]) for x in row])

In [79]:
# Checking how many items without suggestions

print(len(non_words2.loc[(non_words2.unigram_suggestions.str.len() == 0),:]))
print(len(non_words2.loc[(non_words2.bigram_suggestions.str.len() == 0),:]))
print(len(non_words2.loc[(non_words2.bigram_suggestions.str.len() == 0) & (non_words2.unigram_suggestions.str.len() == 0),:]))

1966
116
15

In [80]:
non_words2.loc[(non_words2.bigram_suggestions.str.len() == 0) & (non_words2.unigram_suggestions.str.len() == 0),:]

,answer_id,tok_lem_POS,misspelling,sentence,bigrams,unigram_suggestions,bigram_suggestions
71,105,"[(here, here, RB), (are, be, VBP), (a, a, DT),...","(asdfkjdlkfjadlfjalsdf, asdfkjdlkfjadlfjalsdf,...",asdfkjdlkfjadlfjalsdf,[],[],[]
4104,10490,"[(getting, get, VBG), (good, good, NNP), (grad...","(quintcareers, quintcareers, NNS)",Quintcareers.,[],[],[]
7223,18380,"[(hi, hi, NNP), (,, ,, ,), (adrian, adrian, NN...","(yeonjea, yeonjea, NN)",- Yeonjea.,[],[],[]
8328,20089,"[(uuuuuuu, uuuuuuu, NN)]","(uuuuuuu, uuuuuuu, NN)",uuuuuuu,[],[],[]
8329,20096,"[(yhryr, yhryr, NN)]","(yhryr, yhryr, NN)",yhryr,[],[],[]
8989,21585,"[(1, 1, CD), (., ., .), (individual, individua...","(shadizubeidi, shadizubeidi, NNP)",Shadizubeidi.,[],[],[]
9161,21845,"[(when, when, WRB), (i, i, PRP), ('m, be, VBP)...","(jaaaaaaaaaaaaaaaaaaajajjajajajaja, jaaaaaaaaa...",Jaaaaaaaaaaaaaaaaaaajajjajajajaja ;),[],[],[]
10457,24136,"[(hsthethghryjyjy, hsthethghryjyjy, NN)]","(hsthethghryjyjy, hsthethghryjyjy, NN)",hsthethghryjyjy,[],[],[]
11293,25988,"[(fibromyalgia, fibromyalgia, NNP), (?, ?, .),...","(fibromyalgia, fibromyalgia, NNP)",Fibromyalgia ?,[],[],[]
13222,30421,"[(stayhealthy, stayhealthy, NN)]","(stayhealthy, stayhealthy, NN)",StayHealthy,[],[],[]
13798,32028,"[(hiiiiiii, hiiiiiii, NN)]","(hiiiiiii, hiiiiiii, NN)",hiiiiiii,[],[],[]
14551,33214,"[(1, 1, CD), (), ), )), (it, it, PRP), (is, be...","(hahahaha, hahahaha, NN)",hahahaha.,[],[],[]
17909,39728,"[(drylegbed, drylegbed, NNP)]","(drylegbed, drylegbed, NNP)",Drylegbed,[],[],[]
17952,39870,"[(deepfried, deepfried, VBN)]","(deepfried, deepfried, VBN)",deepfried,[],[],[]
17953,39887,"[(favlorless, favlorless, NN)]","(favlorless, favlorless, NN)",favlorless,[],[],[]

Items with no suggestions - these will be left in their original form though manual corrections could be applied if desired.

Next, we create a new column with just the most likely correction (based on frequency). Bigram suggestions are given preference before unigram suggestions. If there is no suggestion, the original word is returned.

In [81]:
# Create new column with just the most likely correction (based on frequency)

def sort_unigram_tuple(tup):  
    tup.sort(key = lambda x: x[2], reverse=True)  
    return tup

In [82]:
# Keeping the unigram correction with the highest frequency

non_words2['unigram_correction'] = [sort_unigram_tuple(x)[0][0] if len(x) != 0 else np.NaN for x in non_words2['unigram_suggestions']]

In [83]:
# Create new column with just the most likely correction (based on frequency)

def sort_bigram_tuple(tup):  
    tup.sort(key = lambda x: x[0][2], reverse=True)  
    return tup

In [84]:
# Keeping the bigram correction with the highest frequency

non_words2['bigram_correction'] = [(sort_bigram_tuple(x)[0][0][0],x[0][1]) if len(x) != 0 else np.NaN for x in non_words2['bigram_suggestions']]

In [85]:
# Splitting the bigram corrections into separate words

mask = non_words2.loc[non_words2.bigram_correction.isnull() == False].index
non_words2.loc[mask, 'bigram_correction'] = non_words2.loc[mask, 'bigram_correction'].apply(
    lambda x: (x[0].split(),x[1]))

Some bigrams that were previously two words have now been corrected to one word, e.g. _paragragh, s --> paragraphs._  
These will now be labelled Type 3.

In [86]:
mask2 = non_words2.loc[mask].loc[non_words2.loc[mask].bigram_correction.apply(lambda x: len(x[0])==1)].index 
non_words2.loc[mask2].head()

#142 Type 3 items

,answer_id,tok_lem_POS,misspelling,sentence,bigrams,unigram_suggestions,bigram_suggestions,unigram_correction,bigram_correction
5,16,"[(every, every, DT), (paragragh, paragragh, NN...","(paragragh, paragragh, NN)",Every paragragh's instructions depend on a mai...,"[(every paragragh, 1), (paragragh s, 2)]","[(paragraph, 1, 24855495)]","[((paragraphs, 2, 5579470), 2), ((every para...",paragraph,"([paragraphs], 2)"
147,200,"[(hi, hi, NNP), (,, ,, ,), (i, i, PRP), ('m, b...","(jotard, jotard, NNP)","Hi, I'm Jotard.","[(m jotard, 1)]","[(jotted, 2, 66054), (retard, 2, 643417), ...","[((mustard, 3, 2820441), 1)]",jotted,"([mustard], 1)"
300,378,"[(my, my, PRP$), (writing, write, VBG), (teach...","(teachet, teachet, JJ)",My writing teachet`s name is ANON_NAME_0.,"[(writing teachet, 1), (teachet s, 2)]","[(teaches, 1, 5599377), (teacher, 1, 48002...","[((teachers, 2, 49832283), 2), ((writing tea...",teaches,"([teachers], 2)"
328,444,"[(topic, topic, NNP), (sentence, sentence, NN)...","(gaint, gaint, NNP)","For example, the Rose's Gaint Boutique and Hea...","[(s gaint, 1), (gaint boutique, 2)]","[(gait, 1, 822923), (saint, 1, 38929141), ...","[((saint, 2, 38929141), 1), ((saint boutique...",gait,"([saint], 1)"
367,542,"[(topic, topic, NNP), (sentence, sentence, NN)...","(gaint, gaint, NNP)","For example, the Rose's Gaint Boutique and Hea...","[(s gaint, 1), (gaint boutique, 2)]","[(gait, 1, 822923), (saint, 1, 38929141), ...","[((saint, 2, 38929141), 1), ((saint boutique...",gait,"([saint], 1)"

In [87]:
non_words2.loc[mask2,'bigram_correction'] = non_words2.loc[mask2,'bigram_correction'].apply(lambda x: (x[0],3))

In [88]:
# Keeping only the word in the bigram correction that was originally misspelled

def corrected_only(bigram_tuple):
    bigram_list = bigram_tuple[0]
    bigram_type = bigram_tuple[1]
    for tup in bigram_tuple:
        if bigram_type == 1:
            corrected_word = bigram_list[1:]
        if bigram_type == 2:
            corrected_word = bigram_list[:-1]
        if bigram_type == 3:
            corrected_word = bigram_list
    return ' '.join(corrected_word)

# Type 1 bigram = (word, misspelling), Type 2 bigram = (misspelling, word), Type 3 bigram = misspelling only

In [89]:
# Applying the function

non_words2.loc[mask, 'bigram_correction'] = non_words2.loc[mask, 'bigram_correction'].apply(
    lambda x: corrected_only(x))

In [90]:
# Creating a 'final_correction' column with order of preference: bigram_correction, unigram_correction, misspelling

# Changing empty strings to NaN in the bigram correction column
non_words2.bigram_correction.replace("", np.nan, inplace=True)

# Creating a tuple of these three items
non_words2['final_correction'] = list(zip(non_words2.misspelling.apply(
    lambda x: x[1]), non_words2.unigram_correction, non_words2.bigram_correction))

# Choosing which item based on if strings or not (i.e. NaNs)
non_words2['final_correction'] = [x[2] if isinstance(x[2], str) else x[1] if isinstance(x[1], str) else x[0] for x in non_words2['final_correction']]

In [91]:
# Create correction_POS column

non_words2['final_correction_POS'] = list(zip(non_words2.final_correction, non_words2.final_correction, non_words2.misspelling.apply(lambda x: x[2])))
non_words2.head(6)

,answer_id,tok_lem_POS,misspelling,sentence,bigrams,unigram_suggestions,bigram_suggestions,unigram_correction,bigram_correction,final_correction,final_correction_POS
0,8,"[(i, i, PRP), (organized, organize, VBD), (the...","(beacause, beacause, NN)","I organized the instructions by time, beacause...","[(time beacause, 1), (beacause to, 2)]","[(because, 1, 271323986)]","[((because to, 1, 3213023), 2), ((time becau...",because,because,because,"(because, because, NN)"
1,11,"[(to, to, TO), (make, make, VB), (tea, tea, NN...","(wallmart, wallmart, NN)","next, you need to buy a box of tea in wallmart...","[(in wallmart, 1), (wallmart or, 2)]","[(walmart, 1, 2269839)]","[((in wall art, 1, 99805), 1), ((wall art or...",walmart,wall art,wall art,"(wall art, wall art, NN)"
2,13,"[(first, first, RB), (,, ,, ,), (you, you, PRP...","(dovn, dovn, NN)","First, you should take some hot water, you can...","[(use dovn, 1), (dovn mircowave, 2)]","[(dove, 1, 3253560), (donn, 1, 299470), (d...","[((down microwave, 2, 1960), 2), ((use down,...",dove,down,down,"(down, down, NN)"
3,13,"[(first, first, RB), (,, ,, ,), (you, you, PRP...","(mircowave, mircowave, VBP)","First, you should take some hot water, you can...","[(dovn mircowave, 1), (mircowave or, 2)]","[(microwave, 1, 8934594)]","[((microwave or, 1, 22584), 2), ((down micro...",microwave,microwave,microwave,"(microwave, microwave, VBP)"
4,15,"[(in, in, IN), (my, my, PRP$), (country, count...","(fitst, fitst, NNP)","Fitst, boil a water in a pot.","[(fitst boil, 2)]","[(fist, 1, 7319405), (first, 1, 578161543)...","[((first boil, 1, 1366), 2)]",fist,first,first,"(first, first, NNP)"
5,16,"[(every, every, DT), (paragragh, paragragh, NN...","(paragragh, paragragh, NN)",Every paragragh's instructions depend on a mai...,"[(every paragragh, 1), (paragragh s, 2)]","[(paragraph, 1, 24855495)]","[((paragraphs, 2, 5579470), 2), ((every para...",paragraph,paragraphs,paragraphs,"(paragraphs, paragraphs, NN)"

### Incorporating corrections into `pelic_df`

In [92]:
# Focusing on rows in pelif_df containing spelling mistakes to replace

mask = pelic_df.index.isin(non_words2.answer_id)
print(len(pelic_df))
print(len(pelic_df.loc[mask]))

46230
10098

In [93]:
# Transforming non_words2 back so that each row is a text (with a list of the misspellings and final corrections)

# First create a column with tuples of misspellings and their corrections
non_words2['misspelling_correction'] = list(zip(non_words2.misspelling, non_words2.final_correction_POS))

In [94]:
# Then group by the text and combine the misspelling_corrections
non_words3 = non_words2[['answer_id','tok_lem_POS','misspelling_correction']]
non_words3 = non_words2.groupby('answer_id').agg({'tok_lem_POS':'first','misspelling_correction': sum}).reset_index()
non_words3.misspelling_correction = non_words3.misspelling_correction.apply(lambda x:list(zip(x[::2], x[1::2])))
non_words3 = non_words3.set_index('answer_id') # use answer_id as new index since it is now unique
non_words3.head()

,tok_lem_POS,misspelling_correction
answer_id,,
8,"[(i, i, PRP), (organized, organize, VBD), (the...","[((beacause, beacause, NN), (because, because,..."
11,"[(to, to, TO), (make, make, VB), (tea, tea, NN...","[((wallmart, wallmart, NN), (wall art, wall ar..."
13,"[(first, first, RB), (,, ,, ,), (you, you, PRP...","[((dovn, dovn, NN), (down, down, NN)), ((mirco..."
15,"[(in, in, IN), (my, my, PRP$), (country, count...","[((fitst, fitst, NNP), (first, first, NNP))]"
16,"[(every, every, DT), (paragragh, paragragh, NN...","[((paragragh, paragragh, NN), (paragraphs, par..."

In [95]:
# Creating a function to find and replace misspellings

def replace_misspelling(tok_lem_POS, misspelling_correction):
    tok_lem_POS_corrected = []
    misspellings = [x[0] for x in misspelling_correction]
    corrections = [x[1] for x in misspelling_correction]
    correction_dict = dict((x, y) for x, y in misspelling_correction)
    for tok in tok_lem_POS:
        if tok in misspellings:
            tok = correction_dict[tok]
        tok_lem_POS_corrected.append(tok)
    return tok_lem_POS_corrected

In [96]:
# Applying the above function

non_words3['tok_lem_POS_corrected'] = non_words3[['tok_lem_POS','misspelling_correction']].apply(
    lambda x: replace_misspelling(x[0],x[1]), axis=1)

non_words3.head()

,tok_lem_POS,misspelling_correction,tok_lem_POS_corrected
answer_id,,,
8,"[(i, i, PRP), (organized, organize, VBD), (the...","[((beacause, beacause, NN), (because, because,...","[(i, i, PRP), (organized, organize, VBD), (the..."
11,"[(to, to, TO), (make, make, VB), (tea, tea, NN...","[((wallmart, wallmart, NN), (wall art, wall ar...","[(to, to, TO), (make, make, VB), (tea, tea, NN..."
13,"[(first, first, RB), (,, ,, ,), (you, you, PRP...","[((dovn, dovn, NN), (down, down, NN)), ((mirco...","[(first, first, RB), (,, ,, ,), (you, you, PRP..."
15,"[(in, in, IN), (my, my, PRP$), (country, count...","[((fitst, fitst, NNP), (first, first, NNP))]","[(in, in, IN), (my, my, PRP$), (country, count..."
16,"[(every, every, DT), (paragragh, paragragh, NN...","[((paragragh, paragragh, NN), (paragraphs, par...","[(every, every, DT), (paragraphs, paragraphs, ..."

In [97]:
# Creating a dictionary of answer_id and tok_lem_POS_corrected

corrected_text_dict = pd.Series(non_words3.tok_lem_POS_corrected.values,non_words3.index).to_dict()

In [98]:
# Adding the tok_lem_POS_corrected column to pelic_df

pelic_df['tok_lem_POS_corrected'] = pelic_df.index.map(corrected_text_dict)

Texts that have not had any corrections are labelled _NaN_ in the tok_lem_POS_corrected column. However, if you want to replace these with the orignal texts, you can use the following code instead of the one in the previous cell:  

```
pelic_df['tok_lem_POS_corrected'] = pelic_df.index.map(corrected_text_dict).fillna(pelic_df['tok_lem_POS'])
```

In [99]:
# Checking with 'becuase'

print(pelic_df.loc[pelic_df.text.str.contains('becuase')].iloc[1,11]) #uncorrected
print(pelic_df.loc[pelic_df.text.str.contains('becuase')].iloc[1,12]) #corrected

(('My', 'my', 'PRP$'), ('friend', 'friend', 'NN'), ('is', 'be', 'VBZ'), ('realy', 'realy', 'JJ'), ('nise', 'nise', 'RB'), ('guy', 'guy', 'NN'), ('.', '.', '.'), ('I', 'i', 'PRP'), ('like', 'like', 'VBP'), ('hem', 'hem', 'JJ'), ('becuase', 'becuase', 'NN'), ('he', 'he', 'PRP'), ('is', 'be', 'VBZ'), ('friendlly', 'friendlly', 'RB'), ('and', 'and', 'CC'), ('lovliy', 'lovliy', 'NN'), ('.', '.', '.'))
[('my', 'my', 'PRP$'), ('friend', 'friend', 'NN'), ('is', 'be', 'VBZ'), ('real', 'real', 'JJ'), ('nice', 'nice', 'RB'), ('guy', 'guy', 'NN'), ('.', '.', '.'), ('i', 'i', 'PRP'), ('like', 'like', 'VBP'), ('hem', 'hem', 'JJ'), ('because', 'because', 'NN'), ('he', 'he', 'PRP'), ('is', 'be', 'VBZ'), ('friendly', 'friendly', 'RB'), ('and', 'and', 'CC'), ('lovely', 'lovely', 'NN'), ('.', '.', '.')]

We can see here that many appropriate corrections have been made, including _becuase_ -> _because_ , _nise_ -> _nice_ , _friendlly_ -> _friendly_ and _lovily_ -> _lovely_ .  
Importantly, incorrect spellings that are actual words, e.g. _hem_ (should be _him_ in this case) are not corrected. In addition, as limited context is considered, there will be some inaccuracies, e.g. _realy_ (marked as an adj) -> _real_ rather than _really_ (_real nice_ is a frequent bigram).

In [100]:
pelic_df.head()

,anon_id,L1,gender,course_id,level_id,class_id,question_id,version,text_len,text,tokens,tok_lem_POS,tok_lem_POS_corrected
answer_id,,,,,,,,,,,,,
1,eq0,Arabic,Male,149,4,g,5,1,177,I met my friend Nife while I was studying in a...,"[I, met, my, friend, Nife, while, I, was, stud...","((I, i, PRP), (met, meet, VBD), (my, my, PRP$)...",NaN
2,am8,Thai,Female,149,4,g,5,1,137,"Ten years ago, I met a women on the train betw...","[Ten, years, ago, ,, I, met, a, women, on, the...","((Ten, ten, CD), (years, year, NNS), (ago, ago...",NaN
3,dk5,Turkish,Female,115,4,w,12,1,64,In my country we usually don't use tea bags. F...,"[In, my, country, we, usually, do, n't, use, t...","((In, in, IN), (my, my, PRP$), (country, count...",NaN
4,dk5,Turkish,Female,115,4,w,13,1,6,I organized the instructions by time.,"[I, organized, the, instructions, by, time, .]","((I, i, PRP), (organized, organize, VBD), (the...",NaN
5,ad1,Korean,Female,115,4,w,12,1,59,"First, prepare a port, loose tea, and cup.\nSe...","[First, ,, prepare, a, port, ,, loose, tea, ,,...","((First, first, RB), (,, ,, ,), (prepare, prep...",NaN

In [101]:
# Write out new PELIC_compiled.csv

pelic_df.to_csv('PELIC_compiled_spellcorrected.csv', encoding='utf-8', index=True)

In [102]:
# Pickle new pelic_df dataframe

pelic_df.to_pickle('pelic_spellcorrected.pkl')

If preferred, this entire spelling correctin process can also be applied to [`answer.csv`]() instead of `PELIC_compiled`.

[Back to top](#Corrected-spelling)